VietPhrase=dictionaries/VietPhrase.txt
Names=dictionaries/Names.txt
NamesPhu=dictionaries/Names2.txt
ChinesePhienAmWords=dictionaries/ChinesePhienAmWords.txt
ThieuChuu=dictionaries/ThieuChuu.txt
LacViet=dictionaries/LacViet.txt
CEDict=dictionaries/cedict_ts.u8
Babylon=dictionaries/Babylon.txt
ChinesePhienAmEnglishWords=dictionaries/ChinesePhienAmEnglishWords.txt
LuatNhan=dictionaries/LuatNhan.txt
Pronouns=dictionaries/Pronouns.txt
IgnoredChinesePhrases=dictionaries/IgnoredChinesePhrases.txt
ThuatToanNhan=1